 body{
    background-color: black;
 }
 
 /* Navbar transparente */
 .navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com 50% de transparência */
    position: fixed; /* Deixa a navbar fixa no topo */
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  /* Estilo para tornar o texto chamativo */
  .navbar a {
    color: white !important; /* Texto branco */
    font-weight: bold; /* Fonte mais grossa */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombramento para destaque */
    font-size: 1.1rem; /* Aumenta o tamanho da fonte */
  }

  .navbar a:hover {
    color: #7283b9 !important; /* Cor laranja quando passar o mouse */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Sombramento mais forte no hover */
  }

  /* Garantir que a navbar não sobreponha o conteúdo */
  body {
    padding-top: 70px;
  }

  section .oi{
    z-index: 1000;
    border: rgb(211, 190, 190) 1.4px solid;
    border-radius: 10px;
    background-color: rgb(133, 131, 131);
    box-shadow: gray 2px 2px 4px; 
  }

  section .row-text-center{
    gap: 20px;
  }

  .card.cursor-pointer {
    cursor: pointer;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .carousel-item img {
    height: 100vh; /* A imagem ocupará 100% da altura da tela */
   /* A imagem cobrirá todo o espaço sem distorção */
  }

  /* Ajustando a posição do texto no carrossel */
  .carousel-caption {
    position: absolute;
  
   
    text-align: center;
    color: white;
  }

  /* Efeito de transição suave */
  .carousel-item {
    transition: transform 1s ease-in-out;
  }
   /* Centralizando o texto no meio da imagem */
   .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
    text-align: center;
    width: 100%;
    z-index: 10; /* Garante que o texto esteja acima da imagem */
  }